<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>login</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <div class="col-md-4">
                <form th:action="@{/login}" method="post">
                    <fieldset>
                        <h1> Please LogIn </h1>
                        <div class="form-group">

                            <input type="text" name="username" placeholder="UserName" 
                                   required="true" class ="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" 
                                   required="true" class ="form-control"/>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary" style="width: 100%" value="Sign In" />
                            </div>
                            <div class="col-md-6"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
